<% provide(:title, "Orden") %>

<h1>Orden No. <%= @order.id %></h1>
<div class="container">
  <div class="col-md-8">
    <div class="card">
      <table>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
        <% @order.order_items.each do | order_item | %>
          <tr>
            <td>
              <%= image_tag order_item.product.primary_img.url, class: "table-img" %>
              <%= link_to order_item.product.name, product_path(order_item.product) %>
            </td>
            <td><%= order_item.quantity %></td>
            <td>$<%= format_price(order_item.product.price) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-6 address">
          <h2>Direccion de envio:</h2>
          <p><%= render @order.shipping_address %></p>
        </div>
        <div class="col-md-6 address">
          <h2>Direccion de compra:</h2>
          <p><%= render @order.billing_address %></p>
        </div>
      </div>
    </div>
  </div>
  <aside class="col-md-4">
    <section class="card">
      <h2>Resumen de compra</h2>
      <dl>
        <dt>Producto Total:</dt>
        <dd>$<%= format_price(@order.item_total) %></dd>
        <br>
        <dt>Costo de envio:</dt>
        <dd>$<%= format_price(@order.postage) %></dd>
        <hr>
        <dt>Total:</dt>
        <dd>$<%= format_price(@order.item_total + @order.postage) %></dd>
      </dl>
    </section>
  </aside>
</div>
